
body{
	font-family: sans-serif;
	font-size: 16px;
}
h1 {
	text-align: center;
	margin: 30px 0;
}
ul{
	width: 150px;
	margin: 0;
	float: left;
}
#pokemon {
	max-width: 400px;
	max-height: 400px;
	
}
#imagen {
	width: 400px;
	height: 400px;
	margin: 30px 180px;
	float: left;
}
.pm{
	margin: 2.5px;
}